.horizontal-scroll-list {
    display: flex;
    background-color: white;
    width: 95%; 
    overflow-x: auto; 
    gap: 16px; 
    padding: 16px; 
    margin-top: 20px;
}

.no-scrollbar::-webkit-scrollbar {
    display: block; 
}

.categorytext{
    font-weight:25px;
}

.horizontal-scroll-item {
    background-color: white;
    padding: 8px 0;
    border-radius: 12px; 
    display: flex;
    width: 120px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px; 
    font-size: 0.875rem; 
    font-weight: 500;
    color: #4b5563; 
    transition: background-color 0.2s ease-in-out; 
}
.horizontal-scroll-item:hover {
    background-color: #f3f4f6;
}
