.listing-details {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f5b0b0;
  }
  
  .listing-details-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .listing-details-images {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.listing-details img {
    max-width: 100%;
    height: auto;
    width: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.image-container{
  display: flex;
  gap: 2px;
}
.image-container button{
  background-color: #dab3b3;
}
.image-container button:hover{
  background-color: #f19898;
}
  
  .listing-details-info {
    flex: 1;
  }
  
  .listing-details-amenities {
    justify-items: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    background-color: #f4d0d0;
    padding: 10px;
  }
  .listing-details-address {
    justify-items:center ;
    background-color: aqua;
    border-top: 1px solid #ddd;
    padding: 10px 0px 10px 0px;
  }
  h1 {
    font-size: 2em;
    margin-bottom: 10px;
  }
  
  p {
    margin-bottom: 5px;
    justify-items: center;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    margin-bottom: 5px;
  }